<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<appSettings>

		<add key="imageDownloadFolder" value="~/Public/Images/" />
		<add key="baseDomain" value="http://localhost:4654/easyTracker/" />
		<add key="DownloadFileUrl" value="http://localhost/Tasks/Download/{0}" />
		<add key="FileTransferPath" value="C://test/" />
	</appSettings>
	<connectionStrings>
		<clear />
		<add name="tracker" connectionString="Server=YONIJI-PC\SQLEXPRESS;Initial Catalog=EasyTrackerDevelopment;Max Pool Size=4500;User ID=AniZhao;Password=88458170;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<location path="App_Themes">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="AccessDenied.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="gracian.ani@gmail.com">
				<network defaultCredentials="false" host="smtp.gmail.com" enableSsl="true" port="587" userName="gracian.ani@gmail.com" password="pu76#2@8" />
			</smtp>
		</mailSettings>
		
	</system.net>
	<system.web>
		
		<compilation targetFramework="4.0" />
		
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx" timeout="2880" />
		</authentication>
		<membership defaultProvider="EasyTrackerMembershipProvider">
			<providers>
				<clear />
				<add name="EasyTrackerMembershipProvider" type="EasyTrackerDomainModel.EasyTrackerMembershipProvider" connectionStringName="tracker" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="100" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" applicationName="EasyTracker" />
			</providers>
		</membership>

	
		<authorization>
			<allow roles="Admin" />
			<deny users="*" />			
		</authorization>
		<profile>
			<providers>
			<clear />
			<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
			</providers>
		</profile>

		<roleManager defaultProvider="EasyTrackerRoleProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
			<providers>
				<clear />
				<add name="EasyTrackerRoleProvider" type="EasyTrackerDomainModel.EasyTrackerRoleProvider" connectionStringName="tracker" applicationName="EasyTracker" writeExceptionsToEventLog="false" />
			</providers>
		</roleManager>

		<customErrors mode="RemoteOnly">

			<error statusCode="404" redirect="Custom404.aspx" />
			<error statusCode="500" redirect="Custom500.aspx" />
		</customErrors> 
		<pages theme="Bootstrap" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"></pages>

		<webServices>
		
			<protocols>
				<add name="HttpPost" />
				<add name="HttpGet" />
				<add name="Documentation" />
			</protocols>
			
		</webServices>
		
		<healthMonitoring enabled="true" heartbeatInterval="0">
			<providers>
				<add name="MailWebEventProvider" type="System.Web.Management.SimpleMailWebEventProvider" to="gracian.ani@gmail.com" from="gracian.ani@gmail.com" buffer="false" subjectPrefix="Location Tracker [Production]" />
			</providers>
			<rules>
				<add name="Testing Mail Event Providers" eventName="All Errors" provider="MailWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:01:00" custom="" />
			</rules>
		</healthMonitoring>
		
  </system.web>
  <system.webServer>
	 
     <modules runAllManagedModulesForAllRequests="true" />
	  <handlers>
		  
		  <add name="ScriptHandlerFactory" verb="*" path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		  <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
	  </handlers>
  </system.webServer>
	
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
